*{
  font-family: 'Kalam', cursive;
}

a{
  text-decoration: none;
  color: black;  
}

.container{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header{
  text-align: center;
  padding-top: 30px;
}

.header .header__name{
  display: block;
  margin-bottom: 30px;
}

.header .header__logo{
  max-width: 195px;
  height: auto;
  transition: all .3s ease-in-out;
}

.header .header__logo:hover{
  transform: scale3d(0.95,0.95,0.95);
  opacity: 0.7;
}

.search{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.search .search__input {
  border: 1px solid rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  border-radius: 22px;
  background: none;
  width: 290px;
  height: 40px;
  outline: none;
  box-sizing: border-box;
  padding-left: 30px;
  margin-right: 5px;
  transition: all .3s ease-in-out;
}

.search [datatype="block"] {
  width: 0px!important;
  border: none;
  padding: 0px;
  margin: 0px;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 22px;
  background: rgba(0,0,0,0.75);
  height: 40px;
  line-height: 40px;
  width: 100px;
  color: #fff;
  font-weight: 600;
  outline: none;
  transition: all .3s ease-in-out;
  display: inline-block;
}

.button:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.50);
}

.button:active{
  transform: scale3d(0.75,0.75,0.75);
}

.footer{
  text-align: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: white;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}

.footer a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.list__users{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -10px -5px;
  padding-bottom: 60px;
}

.list__users .list__item{
  flex: 1 1 24%;
  text-align: center;
  margin: 10px 5px;
  transition: all .3s ease-in-out;
  padding: 10px 0;
  transform: scale3d(0.975,0.975,0.975)
}

.list__users .list__item--compleate{
  flex: 1 1 24%;
  margin: 10px 5px;
  padding: 10px 0;
}

.list__users .list__item--div{
  width: 195px;
}

.list__users .list__item--empty{
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.list__users .list__item--count{
  flex: 1 1 100%;
  text-align: center;
  padding: 15px 0;
}

.list__users .list__item:hover{
  -webkit-box-shadow: 1px 1px 1px 1px rgba(210,210,210,1);
  -moz-box-shadow: 1px 1px 1px 1px rgba(210,210,210,1);
  box-shadow: 1px 1px 1px 1px rgba(210,210,210,1);
  transform: scale3d(1,1,1)
}

.list__users .list__item:hover .list__img{
  opacity: 1;
}

.list__users .list__img{
  width: 195px;
  border-radius: 50%;
  opacity: .7;
  transition: all .3s ease-in-out;
}

.list__users .list__link{
  display: block;
  color: black;
  text-decoration: none;
  max-width: 195px;
  font-weight: bold;
  margin: 0 auto;
}

.list__users .list__type{
  display: block;
  max-width: 195px;
  margin: 0 auto;
}

.list__users .list__score{
  display: block;
  max-width: 195px;
  margin: 0 auto;
}

.list .list__more{
  padding-bottom: 80px;
  text-align: center;
}

.list .list__button{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 22px;
  background: rgba(0,0,0,0.75);
  height: 40px;
  width: 200px;
  color: #fff;
  font-weight: 600;
  outline: none;
  transition: all .3s ease-in-out;
}

.list .list__button:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.50);
}

.list .list__button:active{
  transform: scale3d(0.75,0.75,0.75);
}

.single-user {
  padding: 30px 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.single-user .single-user__img{
  margin-right: 30px;
  flex: 1 1 45%;
}

.single-user .single-user__img img{
  border-radius: 50%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.single-user .single-user__info{
  flex: 1 1 45%;
}

.single-user .single-back{
  flex: 1 1 100%;
  text-align: center;
  margin: 15px 0;
}

@media(max-width: 768px){
  .single-user .single-user__img{
    flex: 1 1 100%;
    text-align: center;
    margin: 0;
  }
  
  .single-user .single-user__info{
    flex: 1 1 100%;
  }
}

@media(max-width: 425px){
  .search .search__input{
    width: 100%;
  }
  .button{
    width: 100%;
    margin-top: 15px;
  }
  .list .list__button{
    width: 100%;
  }
  .footer{
    font-size: 12px;
  }
}